* {
    --color-hidden: #9E9E9E;
    --color-locked: #F44336;
    --color-folder: #795548;
}

body {
    margin: 0;
    text-align: left;
}

header {
    background-color: var(--accent-dark);
    color: white;
    font-size: 150%;
    text-align: center;
    box-shadow: 0 0 5px var(--accent-dark);
    margin: 0 10% 2%;
}

header a {
    color: white;
}

main {
    margin-left: 15%;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.Folder, .File, .LockedFile, .HiddenFile {
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 10px;
}

.Folder a {
    color: var(--color-folder);
}

.Folder img {
    width: 26px;
    height: auto;
    margin-right: 2px;
    vertical-align: bottom;
}

.File a {
    color: var(--accent-dark);
}

.FileProperties {
    font-size: 15px;
}

.FileProperties p {
    margin: 0;
    display: inline;
}

.HiddenFile a {
    color: var(--color-hidden);
}

.LockedFile a {
    color: var(--color-locked);
}