<p>##LOCKEDINFO## - </p>
<strong>
    <a href="/##LOCKACTION##/##HREF##">##LOCKACTION##</a>
</strong>
<br>
<p>##HIDDENINFO## - </p>
<strong>
    <a href="/##HIDEACTION##/##HREF##">##HIDEACTION##</a>
</strong>
<br>