<div class="File">
    <a href="##HREF##">##FILENAME##</a>
    <div class="FileProperties">
        ##ADVANCEDINFO##
        <p>Downloads: ##DOWNLOADCOUNT##</p>
        <br>
        <p>Size: ##FILESIZE##</p>
        <br>
    </div>
</div>