<nav>
    <a class="HeaderText Link" href="/optimize##GETGETPARAMS##">Optimize DB</a>
    <span class="HeaderText"> &middot; </span>
    <a class="HeaderText Link" href="/lock">Locked Files</a>
    <span class="HeaderText"> &middot; </span>
    <a class="HeaderText Link" href="/logout">Logout</a>
</nav>